<div class="row-fluid">
    <div class="span4">
        Search:
        <input ng-model="query">
    </div>
</div>
<div class="row-fluid">
    <div class="span5">
        <!--Body content-->
        <ul class="ingredients unstyled">
            <li ng-repeat="ingredient in ingredients | filter:query ">
                <a ng-click="open(ingredient)">{{ingredient.name}}</a>
            </li>            
        </ul>
    </div>
    <div class="span5">
        <ng-switch on="anyItemOpen()">
     <div ng-switch-when="true">
         <div ng-controller="IngredientController">             
             <form>
                 <label>Name: </label><input type="text" ng-model="ingredient.name" name="ingredient.name">
                 <label>Measure Type: </label><select ng-model="ingredient.measureType" name="ingredient.measureType">
                     <option>Cups</option>
                     <option>Ounces</option>
                 </select>
                 <a class="btn" ng-click="update(ingredient)">Update</a>
             </form>
         </div>                   
     </div>
    </ng-switch>   
    </div>    
</div>