<div class="row-fluid">
    <div class="span4">
        Search:
        <input ng-model="query">
    </div>
</div>
<div class="row-fluid">
    <div class="span5">
        <!--Body content-->
        <ul class="mealplans unstyled">
            <li ng-repeat="mealplan in mealplans | filter:query ">
                <a ng-click="open(recipe)">{{mealplan.title}}</a>
            </li>
        </ul>
        <!-- TODO: remove hard coded user ID -->
        <a class="btn" ng-click="open({})">New Meal Plan</a>
    </div>
</div>